@import url('./header.css');
@import url('./section01.css');
@import url('./section02.css');
@import url('./section03.css');
@import url('./section04.css');
@import url('./section05.css');
@import url('./section06.css');
@import url('./footer.css');
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
